<ion-view view-title="{{show.tmdb_info.original_title}}">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider item-icon-right">
                <h2>
                  <a href="https://maps.google.com/?q={{show.cinema_info.address}},{{show.cinema_info.city}}, {{show.cinema_info.country}}" class="button button-clear button-dark">{{show.cinema_info.name}}</a>
                </h2>
                <i class="icon ion-android-favorite"
                   ng-class="{assertive: show.event, stable: !show.event}"
                   ng-click="toggleShow(show)"></i>
            </div>
            <div class="item event-detail-date">
              <span>{{show.datetime|momentFormat: 'LL, H:mm'}}h</span>
              <span ng-if="show.cinema_info.approximate_price != 0" class="item-note">{{show.cinema_info.approximate_price | number:1}}€</span>
              <span ng-if="show.cinema_info.approximate_price == 0" class="item-note">Entrada gratuita</span>
            </div>
        </div>
        <div class="list card">
            <div class="item item-image">
                <img ng-src="https://image.tmdb.org/t/p/w185{{show.movie_info.tmdb_info.backdrop_path}}">
            </div>
            <div class="item item-divider item-icon-left">
                <i class="icon ion-quote stable"></i>
                <h2>{{show.movie_info.tmdb_info.original_title}}</h2>
                <p>{{show.movie_info.tmdb_info.tagline}}</p>
            </div>
            <div class="item item-body">
                <div class="vote-avg">
                    <span ng-repeat="vote in votes" class="vote-avg">
                        <i class="icon ion-android-star energized"></i>
                    </span>
                    <span ng-repeat="vote in votesrest">
                        <i class="icon ion-android-star-outline energized"></i>
                    </span>
                </div>
                <p>
                    {{show.movie_info.tmdb_info.overview}}
                </p>
                <a ng-if="show.movie_info.tmdb_videos[0].key" class="button button-block button-light" ng-href="https://www.youtube.com/watch?v={{show.movie_info.tmdb_videos[0].key}}&autoplay=1">
                    <i class="icon ion-closed-captioning"></i>
                    <span>Ver trailer</span>
                </a>
                <p>
                    <span class="subdued">
                        <span class="icon ion-android-calendar"></span>
                        Estreno: {{show.movie_info.tmdb_info.release_date|momentFormat: 'gggg'}}
                    </span>
                    <span class="subdued" ng-repeat="country in show.movie_info.tmdb_info.production_countries">
                        <span class="icon ion-location"></span>
                        País: {{country.name}}
                    </span>
                    <span class="subdued" ng-repeat="genre in show.movie_info.tmdb_info.genres">
                        <span class="icon ion-happy-outline"></span>
                        {{genre.name}}
                    </span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
