<ion-view view-title="Login" class="login-view">
    <h1>CinemAir</h1>
    <div class="list padding login-form">
        <!--
        <label class="item item-input">
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
            <input type="email" placeholder="Email">
        </label>
        -->
        <button class="button button-block button-assertive">
            Login with your Google Account
        </button>
    </div>
</ion-view>
