<ion-view view-title="{{movie.tmdb_info.original_title}}">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-videocamera"></i>
                <h2>{{movie.tmdb_info.original_title}}</h2>
                <p>{{movie.tmdb_info.tagline}}</p>
            </div>
            <div class="item item-image">
                <img src="https://image.tmdb.org/t/p/w185{{movie.tmdb_info.backdrop_path}}">
            </div>
            <div class="item item-body">
                <span ng-repeat="vote in votes"class="vote-avg">
                    <i class="icon ion-android-star energized"></i>
                </span>
                <span ng-repeat="vote in votesrest">
                    <i class="icon ion-android-star-outline energized"></i>
                </span>
                <p>
                    {{movie.tmdb_info.overview}}
                </p>
                <p>
                    <span class="subdued">{{release}}</span>
                    <span class="subdued" ng-repeat="country in countries">
                        {{country.name}}
                    </span>
                    <span class="subdued" ng-repeat="genre in genres">
                        {{genre.name}}
                    </span>
                </p>
            </div>
        </div>
        <div class="list list-inset padding">
            <a class="item item-icon-right" href="http://maps.google.com/?q={{show.cinema_info.address}}" ng-repeat="show in shows">
                <h2>{{show.cinema_info.name}}</h2>
                <p>{{show.datetime|momentFormat:'LL'}}</p>
                <p>{{show.cinema_info.address}}</p>
                <i class="icon ion-android-favorite stable"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
