<ion-view view-title="{{movie.tmdb_info.original_title}}">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider item-icon-right">
                <h2>{{event.show_info.cinema_info.name}}</h2>
                <i class="icon ion-android-favorite assertive"></i>
            </div>
            <div class="item event-detail-date">
                <span class="item-note">{{event.show_info.cinema_info.address}}</span>
                <h3>{{event.show_info.datetime|momentFormat: 'LL'}}</h3>
            </div>
        </div>
        <div class="list card">
            <div class="item item-icon-left">
                <i class="icon ion-videocamera"></i>
                <h2>{{event.show_info.movie_info.tmdb_info.original_title}}</h2>
                <p>{{event.show_info.movie_info.tmdb_info.tagline}}</p>
            </div>
            <div class="item item-image">
                <img src="https://image.tmdb.org/t/p/w185{{event.show_info.movie_info.tmdb_info.backdrop_path}}">
            </div>
            <div class="item item-body">
                <span ng-repeat="vote in votes" class="vote-avg">
                    <i class="icon ion-android-star energized"></i>
                </span>
                <span ng-repeat="vote in votesrest">
                    <i class="icon ion-android-star-outline energized"></i>
                </span>
                <p>
                    {{event.show_info.movie_info.tmdb_info.overview}}
                </p>
                <p>
                    <span class="subdued">{{event.show_info.movie_info.tmdb_info.release_date|momentFormat: 'LL'}}</span>
                    <span class="subdued" ng-repeat="country in event.show_info.movie_info.tmdb_info.production_countries">
                        {{country.name}}
                    </span>
                    <span class="subdued" ng-repeat="genre in event.show_info.movie_info.tmdb_info.genres">
                        {{genre.name}}
                    </span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
