<ion-view view-title="Favorites">
    <ion-content has-bouncing>
        <div class="list" ng-if="favorites">
            <a ng-repeat="favorite in favorites" class="item item-thumbnail-left item-icon-right color-dark" nav-transition="android" href="tab/favorites/{{favorite.show}}">
                <img ng-src="https://image.tmdb.org/t/p/w185{{favorite.show_info.movie_info.tmdb_info.poster_path}}">
                <h2>{{ favorite.show_info.movie_info.tmdb_info.title }}</h2>
                <p>{{ favorite.show_info.cinema_info.name }} ({{ favorite.show_info.cinema_info.address }})</p>
                <p>{{ favorite.show_info.datetime|fromNow }}</p>
                <i class="icon ion-android-favorite assertive" ng-click="$event.preventDefault(); deleteFavorite(favorite);"></i>
            </a>
        </div>
        <div class="list empty-card" ng-if="favorites.length === 0">
            <div class="list card">
                <div class="item item-image">
                    <img src="/images/clint.gif" />
                </div>
                <div class="item item-body">
                    <h2 class="empty-title assertive">"Every gun makes his own tune"</h2>
                    <p class="empty-title">Por favor, <b>{{user.full_name}}</b> selecciona las peliculas que te apetezca ver para crear tu propio calendar!</p>
                </div>
                <a class="item item-icon-left item-icon-right" href="tab/movies">
                    <i class="icon ion-videocamera assertive"></i>
                    <span>Ver todas las películas</span>
                    <i class="icon icon ion-chevron-right stable icon-movies-fav"></i>
                </a>
                <a class="item item-icon-left item-icon-right" href="tab/cinemas">
                    <i class="icon ion-location assertive"></i>
                    <span>Ver todos los cines</span>
                    <i class="icon icon ion-chevron-right stable icon-movies-fav"></i>
                </a>
                <a class="item item-icon-left item-icon-right" href="tab/shows">
                    <i class="icon ion-android-calendar assertive"></i>
                    <span>Ver todos los pases</span>
                    <i class="icon icon ion-chevron-right stable icon-movies-fav"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
