<ion-view view-title="Schedule">
    <ion-content>
        <div class="list" >
            <div ng-repeat="(key,val) in events">
                <div class="item item-divider">
                    {{key}}
                </div>
                <a ng-repeat="event in val" class="item item-thumbnail-left item-icon-right color-dark" nav-transition="android" href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/marcreisen/128.jpg">
                    <h2>{{ event.show_info.movie_info.name }}</h2>
                    <p>{{ event.show_info.cinema_info.name }}</p>
                    <p>{{ event.show_info.cinema_info.address }}</p>
                    <i class="icon ion-android-favorite assertive"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
