<ion-view view-title="Schedule">
    <ion-content has-bouncing>
        <div class="list" >
            <div ng-repeat="(key,val) in shows">
                <div class="item item-divider">
                    {{key}}
                </div>
                <a ng-repeat="show in val" class="item item-thumbnail-left item-icon-right color-dark" nav-transition="android" href="tab/dates/{{show.id}}">
                    <img src="https://image.tmdb.org/t/p/w185{{show.movie_info.tmdb_info.poster_path}}">
                    <h2>{{ show.movie_info.tmdb_info.original_title }}</h2>
                    <p>{{ show.cinema_info.name }}</p>
                    <p>{{ show.cinema_info.address }}</p>
                    <i class="icon ion-android-favorite stable"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
