<ion-view view-title="Movies">
    <ion-content has-bouncing>
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search" placeholder="Buscar películas" ng-model="movieFilter">
        </label>
      </div>
        <div class="list ">
            <a nav-clear ng-repeat="movie in movies | filter:movieFilter | orderBy:'tmdb_info.title'" class="item item-thumbnail-left item-icon-right" nav-transition="android" ng-href="tab/movies/{{movie.id}}">
                <img ng-src="https://image.tmdb.org/t/p/w185{{movie.tmdb_info.poster_path}}">
                <h2>{{movie.tmdb_info.title}}</h2>
                <p>{{movie.tmdb_info.tagline}}</p>
                <i class="icon icon ion-chevron-right stable icon-movies-fav"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
