<ion-view view-title="Cinemas">
    <ion-content>
        <div class="list ">
            <a class="item item-icon-right" href="#">
                <h2>Cine La Conchinchina</h2>
                <p>C/ la madre de la conchinchilla</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item item-icon-right" href="#">
                <h2>Cine El Saler</h2>
                <p>Autovía del saler</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item item-icon-right" href="#">
                <h2>Cine Paella Rusa</h2>
                <p>C/ Hoan Monleón</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item item-icon-right" href="#">
                <h2>Cine La Conchinchina</h2>
                <p>C/ la madre de la conchinchilla</p>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
