<!--
  The nav bar that will be updated as we navigate between views.
-->
<div class="bar bar-header bar-assertive">
    <h1 class="title">Cinemair</h1>
    <a class="button button-icon icon ion-android-search"></a>
</div>

<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">

    <!-- Schedule Tab -->
    <ion-tab title="Scheduled" icon-on="ion-android-favorite" icon-off="ion-android-favorite" href="#/tab/schedule"></ion-tab>

    <!-- Movies Tab -->
    <ion-tab title="Movies" icon-on="ion-videocamera" icon-off="ion-videocamera" href="#/tab/movies"></ion-tab>

    <!-- Cinemas Tab -->
    <ion-tab title="Cinemas" icon-on="ion-location" icon-off="ion-location" href="#/tab/cinema"></ion-tab>

    <!-- Cinemas Tab -->
    <ion-tab title="Dates" icon-on="ion-android-calendar" icon-off="ion-android-calendar" href="#/tab/dates"></ion-tab>

</ion-tabs>
