<ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Cinemair</h1>
    <a class="button button-icon icon ion-android-exit" ng-click="logout()"></a>
</ion-header-bar>

<ion-tabs class="tabs-striped tabs-top tabs-icon-top tabs-background-assertive tabs-color-light">
    <!-- Favorites Tab -->
    <ion-tab title="Favoritos" icon="ion-android-favorite" href="tab/favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>
    <!-- Movies Tab -->
    <ion-tab title="Películas" icon="ion-videocamera" href="tab/movies">
        <ion-nav-view name="tab-movies"></ion-nav-view>
    </ion-tab>
    <!-- Cinemas Tab -->
    <ion-tab title="Cines" icon="ion-location" href="tab/cinemas">
        <ion-nav-view name="tab-cinemas"></ion-nav-view>
    </ion-tab>
    <!-- Shows Tab -->
    <ion-tab title="Calendario" icon="ion-android-calendar" href="tab/shows">
        <ion-nav-view name="tab-shows"></ion-nav-view>
    </ion-tab>
</ion-tabs>
